
/* design of the tables and space to create bills to corresponding table*/
.barTable{
    background-color: burlywood;
    height: 90px;
    width: 90px;
    border: solid 2px brown;

    border-radius: 100px;
}
.tname {
    line-height: 85px; /*puts the text more in the middle of the circular table*/

}
.drinkorder {
    /*place to add item to the bill*/
    width: 150px;
    min-height: 85px;
    background-color: white;
    border: black 2px double;
}


/*placing the different tables*/

#t1 {
    position: relative;
    top: 0px;
}

#t2 {
    position: relative;
    top: 5px;

}

#t3 {
    position: relative;
    top: 10px;
}

#t4 {
    position: relative;
    top: 15px;
}

#t5 {
    position: relative;
    top: 20px;
}
#t6 {
    position: relative;
    top: 0px;
    left: 90px;
}

#t7 {
    position: relative;
    top: 5px;
    left: 90px;
}

#t8 {
    position: relative;
    top: 10px;
    left: 90px;
}

#t9 {
    position: relative;
    top: 15px;
    left: 90px;
}

#t10 {
    position: relative;
    top: 20px;
    left: 90px;
}

/*Placing the "bills" to corresponding table*/
#order1 {
    position: absolute;
    top: 1px;
    left: 27px;
}

#order2 {
    position: absolute;
    top: 1px;
    left: 27px;
}

#order3 {
    position: absolute;
    top: 1px;
    left: 27px;
}

#order4 {
    position: absolute;
    top: 1px;
    left: 27px;
}

#order5 {
    position: absolute;
    top: 1px;
    left: 27px;
}

#order6 {
    position: absolute;
    top: 1px;
    left: 27px;
}

#order7 {
    position: absolute;
    top: 4px;
    left: 27px;
}

#order8 {
    position: absolute;
    top: 1px;
    left: 27px;
}

#order9 {
    position: absolute;
    top: 1px;
    left: 27px;
}

#order10 {
    position: absolute;
    top: 1px;
    left: 27px;
}



