

div {
   /* border: solid 2px brown;*/
}
.style1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}
body {
    font-family: sans-serif;
    font-family: sans-serif;
    width: 100%;
    margin: auto;
    background-color: #70C3FF;
}

/* Resets */
.graph-container,
.graph-container div,
.graph-container a,
.graph-container span {
    margin: 0;
    padding: 0;
}

.picturestyle{
    margin-left: 17.5%;
    width: 64%;

}

.picturestyle2{
    width: 110px;
    height: 80px;
}

.tablestyleloginbox{
    border: 1px solid black;
    background-color: #70C3FF;
    text-align: center;
    position: fixed;
    top:27.5%;
    left: 31.5%;
    width: 400px;
    height: 250px;
    opacity: 0.9;

}

.searchbox{
    background-color: #ebebf2;
    border-radius: 1px;
    width: 250px;
    height:40px;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.receipt{
    background-color: #FFD08A;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid black;
    height:385px;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    border-bottom: 0px;
}



div {
    padding: 0px;
    border-spacing: 0px;
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 2px solid #ddd;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #dfdfdf;
}
.inputfield{
    background-color: #ebebf2;
    border-radius: 1px;
    width: 250px;
    height:25px;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#kassa {

}

.paybutton {
    float:left;
    background:#7f8c8d;
    color:#fff;
    text-align:center;
    font-size: 18px;
    width:200px;
    height: 50px;
    text-decoration:none;
    box-shadow:0px 3px 0px #373c3c;
}

.money {
    height:50px;
    width: 200px;
    float:left;
    font-size: 26px;
    line-height: 50px; /*puts text mor in the middle*/

    background-color: ghostwhite;

}


/*new*/
.table{
    display: table;
    width: auto;
    margin: auto;
    text-align: left;


}
.row { display: table-row;

}
.cell {
    display: table-cell;
    border: 8px solid transparent; /* have to be solid to get distance between cells in a div table*/

}
.picturestyleStar{
    width: 30px;
    height: 30px;
}
/* i dont think this one is used..
.starbutton{
    background:white;
}*/

.tableHist{
    /*border: 2px solid black;*/
    display: table;
    width: 715px;
    margin: auto;
    text-align: left;

}

.tableIncident{
    text-align: center;
    position: relative;
    left: 25%;
    width: 400px;
    height: 250px;

}
